header nav li{
position: relative;
left: 82%;
text-align: right;
list-style-type: none;
display: inline;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

main h1{
text-align: center;
position: absolute; 
left: 32%;
bottom: 61%;
padding: 1%;
border: 15%;
margin: 10%;
border: 10%;
font-size: 400%;
font-style: italic;
color: rgb(255, 0, 242);
border-style: solid;
background-color: white;
}

main h2{
text-align: center;
position: absolute; 
left: 23%;
bottom: 40%;
padding: 1%;
border: 15%;
margin: 10%;
border: 10%;
font-size: 400%;
font-style: italic;
color: rgb(255, 0, 242);
border-style: solid;
background-color: white;
}

main input{
text-align: left;
position: absolute; 
left: 19%;
bottom: 28%;
padding: 0.7%;
border: 15%;
margin: 10%;
border: 10%;
width: 40%;
font-style: italic;
}

.text1{
text-align: center;
position: absolute; 
left: 22%;
bottom: 20%;
padding: 0.5%;
border: 15%;
margin: 10%;
border: 10%;
font-size: 100%;
width: 5.2%;
font-style: italic;
color: rgb(255, 0, 242);
border-style: solid;
background-color: white;
}

.text2{
text-align: center;
position: absolute; 
left: 32%;
bottom: 20%;
padding: 0.5%;
border: 15%;
margin: 10%;
border: 10%;
font-size: 100%;
width: 5.2%;
font-style: italic;
color: rgb(255, 0, 242);
border-style: solid;
background-color: white;
}

.text3{
text-align: center;
position: absolute; 
left: 42%;
bottom: 20%;
padding: 0.5%;
border: 15%;
margin: 10%;
border: 10%;
font-size: 100%;
width: 5.2%;
font-style: italic;
color: rgb(255, 0, 242);
border-style: solid;
background-color: white;
}

.text4{
text-align: center;
position: absolute; 
left: 52%;
bottom: 20%;
padding: 0.5%;
border: 15%;
margin: 10%;
border: 10%;
font-size: 100%;
width: 5.2%;
font-style: italic;
color: rgb(255, 0, 242);
border-style: solid;
background-color: white;
}

.selector1{
text-align: center;
position: absolute; 
left: 52%;
bottom: 15%;
padding: 0.5%;
border: 15%;
margin: 10%;
border: 10%;
font-size: 100%;
font-style: italic;
}

.selector2{
text-align: center;
position: absolute; 
left: 22%;
bottom: 15%;
padding: 0.5%;
border: 15%;
margin: 10%;
border: 10%;
font-size: 100%;
font-style: italic;
}

.selector3{
text-align: center;
position: absolute; 
left: 32%;
bottom: 15%;
padding: 0.5%;
border: 15%;
margin: 10%;
border: 10%;
font-size: 100%;
font-style: italic;
}

.selector4{
text-align: center;
position: absolute; 
left: 42%;
bottom: 15%;
padding: 0.5%;
border: 15%;
margin: 10%;
border: 10%;
font-size: 100%;
font-style: italic;
}

body{
background-image: url(https://static.vecteezy.com/system/resources/previews/002/756/238/large_2x/question-mark-low-poly-abstract-question-sign-ask-symbol-help-support-faq-problem-symbol-think-education-concept-confusion-search-illustration-or-background-vector.jpg);
background-size: 90%;
background-position-y: 13%;
background-position-x: 45%;
}

footer{
position: absolute;
text-align: center;
right: -10%;
bottom: -20.5%;
padding: 1%;
border: 15%;
margin: 10%;
width: 100%;
background-color: grey;
}