.grid1{
min-height: 828px;
grid-template-columns: 20% 20% 20% 20% 20%;
grid-template-rows: 20% 10% 10% 20% 20% 20%;
justify-items: center;
align-items:center;
display: grid;
grid-template-areas:
"gif t t t ."
". s . . ."
". p p p ."
". b b b ."
". b b b ."
". b b b ."
;
}

.grid2{
width: 100%;
min-height: 50px;
justify-content: center;
align-items: center;
background-color: grey;
column-gap: 25px;
display: flex;
}

.titulo{
grid-area: t;
font-size: 400%;
font-style: italic;
color: rgb(255, 0, 242);
border-style: solid;
background-color: white;
}

.subtitulo{
grid-area: s;
justify-self: left;
color: white;
font-size: 300%;
}

.parrafo{
grid-area: p;
font-size: 150%;
color:white;
font-style: italic;
}

.base{
grid-area: b;
justify-self: center;
align-self: start;
background-color: white;
padding: 40px;
}

/* .nombre{
grid-area: n;
justify-self: left;
text-align: left;
font-size: 150%;
color: white;
}

.nombre2{
grid-area: n2;
text-align:left;
justify-self: left;
width: 270px;
font-size: 20px;
font-style: italic;
border-style: solid;
border-color: black;
}

.apellido{
grid-area: a;
text-align: left;
justify-self: left;
font-size: 150%;
color: white;
}

.apellido2{
grid-area: a2;
text-align:left;
justify-self: left;
width: 270px;
font-size: 20px;
font-style: italic;
border-style: solid;
border-color: black;
}

.email{
grid-area: e;
text-align: left;
justify-self: left;
font-size: 150%;
color: white;
}

.email2{
grid-area: e2;
text-align:left;
justify-self: left;
width: 270px;
font-size: 20px;
font-style: italic;
border-style: solid;
border-color: black;
}

.comentar{
grid-area: c;
text-align:left;
height: 180px;
width: 570px;
font-style: italic;
border-style: solid;
border-color: black;
} */

.logo-gif{
grid-area: gif;
justify-self:left;
width: 100px;
height: 100px;
border-radius: 50%;
-webkit-animation: efecto 2s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
animation: efecto 2s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
animation-iteration-count: infinite;
}
    
@-webkit-keyframes efecto {
    0% {
        -webkit-transform: rotateY(0);
                transform: rotateY(0);
    }
    100% {
        -webkit-transform: rotateY(360deg);
                transform: rotateY(360deg);
    }
      }
    @keyframes efecto {
    0% {
        -webkit-transform: rotateY(0);
                transform: rotateY(0);
    }
    100% {
        -webkit-transform: rotateY(360deg);
                transform: rotateY(360deg);
    }
}

.boton{
grid-area: bo;
}

body{
background-image: radial-gradient( circle farthest-corner at 32.7% 82.7%,  rgba(173,0,171,1) 8.3%, rgba(15,51,92,1) 79.4% );
}
    
@media screen and (max-width:1023px){
    .body{
        background-color: rgb(255, 0, 242);
        }
    }
@media screen and (max-width:600px){
    .body{
        background-color: rgb(255, 0, 242);
        }
    }

