.grid1{
display: inline;
list-style-type: none;
display: flex;
column-gap: 25px;
justify-content: right;
}

.grid2{
min-height: 828px;
grid-template-columns: 15% 20% 30% 20% 15%;
grid-template-rows: 20% 55% 5% 5% 5% 8%;
justify-items: center;
align-items:center;
display: grid;
grid-template-areas:
". l1 t l2 ."
"p-i t1 i1 t2 p-d"
"p1 p1 p1 p1 p1"
"p2 p2 p2 p2 p2"
". . b . ."
". . tn . ."
;
}

.grid3{
width: 100%;
min-height: 50px;
justify-content: center;
align-items: center;
background-color: grey;
column-gap: 25px;
display: flex;
}

.logo1{
justify-self: right;
grid-area: l1;
border-radius: 50%;
width: 120px;
height: 120px;
}

.titulo{
grid-area: t;
font-size: 80px;
font-style: italic;
color: rgb(255, 0, 242);
background-color: white;
border-style: solid;
}


.logo2{
justify-self: left;
grid-area: l2;
border-radius: 50%;
width: 120px;
height: 120px;

}

.imagen1{
grid-area: i1;
border-radius: 15%;
width: 380px;
height: 380px;
-webkit-box-shadow:0px 0px 50px 30px #ffffff ;
-moz-box-shadow:0px 0px 50px 30px #ffffff ;
box-shadow:0px 0px 50px 30px #ffffff ;
}

.triangulo1{
grid-area: t1;
border-radius: 25%;
width: 250px;
height: 250px;
-webkit-box-shadow:0px 0px 50px 30px #ffffff ;
-moz-box-shadow:0px 0px 50px 30px #ffffff ;
box-shadow:0px 0px 50px 30px #ffffff ;
}

.triangulo2{
grid-area: t2;
border-radius: 25%;
width: 250px;
height: 250px;
-webkit-box-shadow:0px 0px 50px 30px #ffffff ;
-moz-box-shadow:0px 0px 50px 30px #ffffff ;
box-shadow:0px 0px 50px 30px #ffffff ;
}

.panel-izquierdo{
grid-area: p-i;
border-radius: 25%;
width: 200px;
height: 200px;
-webkit-box-shadow:0px 0px 50px 30px #ffffff ;
-moz-box-shadow:0px 0px 50px 30px #ffffff ;
box-shadow:0px 0px 50px 30px #ffffff ;
}

.panel-derecho{
grid-area: p-d;
border-radius: 25%;
width: 200px;
height: 200px;
-webkit-box-shadow:0px 0px 50px 30px #ffffff ;
-moz-box-shadow:0px 0px 50px 30px #ffffff ;
box-shadow:0px 0px 50px 30px #ffffff ;
}

.triangulo-neon{
grid-area: tn;
border-radius: 40%;
object-fit: cover;
width: 50px;
height: 50px;
-webkit-animation: efecto 2s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
animation: efecto 2s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
animation-iteration-count: infinite;
}

@-webkit-keyframes efecto {
    0% {
      -webkit-transform: rotateY(0);
              transform: rotateY(0);
    }
    100% {
      -webkit-transform: rotateY(360deg);
              transform: rotateY(360deg);
    }
  }
  @keyframes efecto {
    0% {
      -webkit-transform: rotateY(0);
              transform: rotateY(0);
    }
    100% {
      -webkit-transform: rotateY(360deg);
              transform: rotateY(360deg);
    }
  }
  

.parrafo1{
text-align: center;
grid-area: p1;
background-color: rgb(255, 0, 242);
opacity: 70%;
font-style: italic;
color: white
}

.parrafo2{
text-align: center;
grid-area: p2;
background-color: rgb(0, 217, 255);
opacity: 70%;
font-style: italic;
color: white
}

.boton{
grid-area: b;
font-size: 20px;
font-style: italic;
color: white;
border-style: solid;
border-color: black;
font-weight: bold;
background-color:purple;
}
  
.boton:hover{
background-color:blue;
transition:background-color 4s linear 0s;
}

body{
background-image: radial-gradient( circle farthest-corner at 32.7% 82.7%,  rgba(173,0,171,1) 8.3%, rgba(15,51,92,1) 79.4% );
}

@media screen and (max-width:1023px){
.body{
    background-color: rgb(255, 0, 242);
    }
}
@media screen and (max-width:600px){
.body{
    background-color: rgb(255, 0, 242);
    }
}