.grid1{
display: inline;
list-style-type: none;
display: flex;
column-gap: 25px;
justify-content: right;
}

.grid2{
min-height: 828px;
grid-template-columns: 20% 20% 20% 20% 20%;
grid-template-rows: 15% 20% 20% 20% 5%;
justify-items: center;
align-items:center;
display: grid;
grid-template-areas:
"gif . t . ."
". search search search ."
"b1 b2 b3 b4 ."
"i1 i2 i3 i4 i5"
"bc1 bc2 bc3 bc4 bc5"
;
}

.grid3{
width: 100%;
min-height: 50px;
justify-content: center;
align-items: center;
background-color: grey;
column-gap: 25px;
display: flex;
}

.logo-gif{
grid-area: gif;
justify-self: left;
border-radius: 50%;
width: 100px;
height: 100px;
-webkit-animation: efecto 2s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
animation: efecto 2s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
animation-iteration-count: infinite;
}
    
@-webkit-keyframes efecto {
    0% {
        -webkit-transform: rotateY(0);
                transform: rotateY(0);
    }
    100% {
        -webkit-transform: rotateY(360deg);
                transform: rotateY(360deg);
    }
      }
    @keyframes efecto {
    0% {
        -webkit-transform: rotateY(0);
                transform: rotateY(0);
    }
    100% {
        -webkit-transform: rotateY(360deg);
                transform: rotateY(360deg);
    }
}

.titulo{
grid-area: t;
font-size: 80px;
font-style: italic;
color: rgb(255, 0, 242);
background-color: white;
border-style: solid;
}

.buscador{
grid-area: search;
align-self: flex-end;
font-size: 20px;
width: 800px;
font-style: italic;
border-style: solid;
font-weight: bold;
}

.lista{
grid-area: lista;
list-style-type: none;
}

.boton1{
grid-area: b1 ;
border-style: solid;
border-color: black;
font-size: 100%;
justify-self: right;
font-weight: bold;

}

.boton2{
grid-area: b2 ;
border-style: solid;
border-color: black;
font-size: 100%;
justify-self: right;
font-weight: bold;
}

.boton3{
grid-area: b3 ;
border-style: solid;
border-color: black;
font-size: 100%;
justify-self: right;
font-weight: bold;
}

.boton4{
grid-area: b4 ;
border-style: solid;
border-color: black;
font-size: 100%;
justify-self: right;
font-weight: bold;
}

.imagen1{
grid-area: i1 ;
width: 150px;
height: 150px;
}

.imagen2{
grid-area: i2 ;
width: 150px;
height: 150px;
}

.imagen3{
grid-area: i3 ;
width: 150px;
height: 150px;
}

.imagen4{
grid-area: i4 ;
width: 150px;
height: 150px;
}

.imagen5{
grid-area: i5 ;
width: 150px;
height: 150px;
}

.boton-compra1{
grid-area: bc1 ;
border-style: solid;
border-color: black;
}

.boton-compra2{
grid-area: bc2 ;
border-style: solid;
border-color: black;
}

.boton-compra3{
grid-area: bc3 ;
border-style: solid;
border-color: black;
}

.boton-compra4{
grid-area: bc4 ;
border-style: solid;
border-color: black;
}

.boton-compra5{
grid-area: bc5 ;
border-style: solid;
border-color: black;
}


body{
    background: rgb(32,36,0);
    background: linear-gradient(180deg, rgba(32,36,0,1) 25%, rgba(9,113,121,1) 50%, rgba(1,4,41,1) 75%, rgba(252,0,255,1) 100%);
    }
    
@media screen and (max-width:1023px){
    .body{
        background-color: rgb(255, 0, 242);
        }
    }
@media screen and (max-width:600px){
    .body{
        background-color: rgb(255, 0, 242);
        }
    }