.logo-gif{
grid-area: gif;
justify-self: left;
border-radius: 50%;
width: 100px;
height: 100px;
-webkit-animation: efecto 2s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
animation: efecto 2s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
animation-iteration-count: infinite;
}
    
@-webkit-keyframes efecto {
    0% {
        -webkit-transform: rotateY(0);
                transform: rotateY(0);
    }
    100% {
        -webkit-transform: rotateY(360deg);
                transform: rotateY(360deg);
    }
      }
    @keyframes efecto {
    0% {
        -webkit-transform: rotateY(0);
                transform: rotateY(0);
    }
    100% {
        -webkit-transform: rotateY(360deg);
                transform: rotateY(360deg);
    }
}

.titulo{
grid-area: ti;
font-size: 80px;
font-style: italic;
color: rgb(255, 0, 242);
background-color: white;
border-style: solid;
}

.buscador{
grid-area: search;
align-self: flex-end;
font-size: 20px;
width: 800px;
font-style: italic;
border-style: solid;
font-weight: bold;
}

.lista{
grid-area: lista;
list-style-type: none;
}

.boton1{
grid-area: b1 ;
border-style: solid;
border-color: black;
font-size: 100%;
justify-self: right;
align-self: start;
font-weight: bold;

}

.boton2{
grid-area: b2 ;
border-style: solid;
border-color: black;
font-size: 100%;
justify-self: right;
align-self: start;
font-weight: bold;
}

.boton3{
grid-area: b3 ;
border-style: solid;
border-color: black;
font-size: 100%;
justify-self: right;
align-self: start;
font-weight: bold;
}

.boton4{
grid-area: b4 ;
border-style: solid;
border-color: black;
font-size: 100%;
justify-self: right;
align-self: start;
font-weight: bold;
}

.imagen1{
grid-area: i1 ;
}

.imagen2{
grid-area: i2 ;
}

.imagen3{
grid-area: i3 ;
}

.imagen4{
grid-area: i4 ;
}

.imagen5{
grid-area: i5 ;
}


body{
background-image: radial-gradient( circle farthest-corner at 32.7% 82.7%,  rgba(173,0,171,1) 8.3%, rgba(15,51,92,1) 79.4% );
}
    
@media screen and (max-width:1023px){
    .body{
        background-color: rgb(255, 0, 242);
        }
    }
@media screen and (max-width:600px){
    .body{
        background-color: rgb(255, 0, 242);
        }
    }