.base1 {
  grid-area: base;
  justify-self: center;
  align-self: start;
  background-color: white;
  padding: 40px;
}

.base {
  grid-area: ba;
  background-color: white;
  padding: 40px;
  height: 350px;
  width: 700px;
  -webkit-box-shadow: 0px 0px 50px 30px #ffffff;
  -moz-box-shadow: 0px 0px 50px 30px #ffffff;
  box-shadow: 0px 0px 50px 30px #fc0202;
}
