body {
  background-image: radial-gradient(
    circle farthest-corner at 32.7% 82.7%,
    rgba(173, 0, 171, 1) 8.3%,
    rgba(15, 51, 92, 1) 79.4%
  );
}

@media screen and (max-width: 1023px) {
  .body {
    background-color: rgb(255, 0, 242);
  }
}
@media screen and (max-width: 600px) {
  .body {
    background-color: rgb(255, 0, 242);
  }
}
