.logo1 {
  justify-self: right;
  grid-area: l1;
  border-radius: 50%;
  width: 120px;
  height: 120px;
}

.logo2 {
  justify-self: left;
  grid-area: l2;
  border-radius: 50%;
  width: 120px;
  height: 120px;
}

.paneles {
  grid-area: i1;
  border-radius: 15%;
  width: 380px;
  height: 380px;
  -webkit-box-shadow: 0px 0px 50px 30px #ffffff;
  -moz-box-shadow: 0px 0px 50px 30px #ffffff;
  box-shadow: 0px 0px 50px 30px #ffffff;
}

.triangulo1 {
  grid-area: t1;
  border-radius: 25%;
  width: 250px;
  height: 250px;
  -webkit-box-shadow: 0px 0px 50px 30px #ffffff;
  -moz-box-shadow: 0px 0px 50px 30px #ffffff;
  box-shadow: 0px 0px 50px 30px #ffffff;
}

.triangulo2 {
  grid-area: t2;
  border-radius: 25%;
  width: 250px;
  height: 250px;
  -webkit-box-shadow: 0px 0px 50px 30px #ffffff;
  -moz-box-shadow: 0px 0px 50px 30px #ffffff;
  box-shadow: 0px 0px 50px 30px #ffffff;
}

.panel-izquierdo {
  grid-area: p-i;
  border-radius: 25%;
  width: 200px;
  height: 200px;
  -webkit-box-shadow: 0px 0px 50px 30px #ffffff;
  -moz-box-shadow: 0px 0px 50px 30px #ffffff;
  box-shadow: 0px 0px 50px 30px #ffffff;
}

.panel-derecho {
  grid-area: p-d;
  border-radius: 25%;
  width: 200px;
  height: 200px;
  -webkit-box-shadow: 0px 0px 50px 30px #ffffff;
  -moz-box-shadow: 0px 0px 50px 30px #ffffff;
  box-shadow: 0px 0px 50px 30px #ffffff;
}

.card{
  width: 18rem;
}

.tarjeta1 {
  grid-area: i1;
}

.tarjeta2 {
  grid-area: i2;
}

.tarjeta3 {
  grid-area: i3;
}

.tarjeta4 {
  grid-area: i4;
}

.tarjeta5 {
  grid-area: i5;
}


.logo-1 {
  justify-self: right;
  align-self: start;
  grid-area: la1;
  width: 120px;
  height: 120px;
  border-radius: 50%;
}
.logo-2 {
  align-self: start;
  justify-self: left;
  grid-area: la2;
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.carousel-item {
  height: 600px;
  position: relative;
  bottom: -10px;
  left: 400px;
}

.carousel-caption {
  position: absolute;
  right: 1050px;
}

.habitacion1 {
  position: absolute;
  background-position: center;
  background-size: cover;
}

.habitacion2 {
  position: absolute;
  bottom: -520px;
  background-position: center;
  background-size: cover;
}

.habitacion3 {
  position: absolute;
  bottom: -400px;
  background-position: center;
  background-size: cover;
}
