.titulo1 {
  justify-self: center;
  align-self: center;
  grid-area: t;
  font-size: 85px;
  padding: 15px;
  color: rgb(239, 184, 16);
  background-color: black;
  border-style: solid;
  font-family: "Great Vibes", cursive;
}
.titulo2 {
  grid-area: ti;
  font-size: 80px;
  padding: 15px;
  color: rgb(239, 184, 16);
  background-color: black;
  border-style: solid;
  font-family: "Great Vibes", cursive;
}
.titulo3 {
  grid-area: tit;
  text-align: center;
  font-size: 80px;
  padding: 15px;
  font-family: "Great Vibes", cursive;
  color: rgb(239, 184, 16);
  border-style: solid;
  background-color: black
}

.subtitulo1 {
  grid-area: s;
  text-align: center;
  font-size: 400%;
  font-family: "Great Vibes", cursive;
  color: rgb(239, 184, 16);
  border-style: solid;
  background-color: white
}

.titulo4 {
  grid-area: titu;
  font-size: 80px;
  padding: 15px;
  font-family: "Great Vibes", cursive;
  color: rgb(239, 184, 16);
  border-style: solid;
  background-color: black;
}

.subtitulo2 {
  grid-area: subt;
  justify-self: left;
  color: rgb(239, 184, 16);
  font-size: 300%;
}

.titulo5 {
  justify-self: center;
  align-self: center;
  grid-area: titulo;
  font-size: 85px;
  padding: 15px;
  font-family: "Great Vibes", cursive;
  color: rgb(239, 184, 16);
  background-color: black;
  border-style: solid;
}
